* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Calibre;
  src: local('Calibre'), url(../fonts/Calibre/Calibre-Light.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  src: local('Calibre'), url(../fonts/Calibre/Calibre-RegularItalic.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Calibre;
  src: local('Calibre'), url(../fonts/Calibre/Calibre-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  src: local('Calibre'), url(../fonts/Calibre/Calibre-MediumItalic.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Calibre;
  src: local('Calibre'), url(../fonts/Calibre/Calibre-Semibold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  src: local('Calibre'), url(../fonts/Calibre/Calibre-SemiboldItalic.ttf);
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  src: local('Calibre'), url(../fonts/Calibre/Calibre-Semibold.ttf);
  font-weight: 700;
  font-display: swap;
}



@font-face {
  font-family: SFMono;
  src: local('SFMono'), url(../fonts/SFMono/SFMono-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: SFMono;
  src: local('SFMono'), url(../fonts/SFMono/SFMono-RegularItalic.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: SFMono;
  src: local('SFMono'), url(../fonts/SFMono/SFMono-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: SFMono;
  src: local('SFMono'), url(../fonts/SFMono/SFMono-MediumItalic.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: SFMono;
  src: local('SFMono'), url(../fonts/SFMono/SFMono-Semibold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: SFMono;
  src: local('SFMono'), url(../fonts/SFMono/SFMono-SemiboldItalic.ttf);
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: SFMono;
  src: local('SFMono'), url(../fonts/SFMono/SFMono-Semibold.ttf);
  font-weight: 700;
  font-display: swap;
}



/* Smaller text for mobile */
@media screen and (max-width: 550px) {
  html {
    font-size: 100%!important;
  }
}

.lead {
  font-size: 1.2rem;
}

.small {
  font-size: 0.8em;
}

#app strong {
  font-weight: 500;
}



#app h5 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .5px;
}

#app .primary-color {
  color: var(--primary-color);
}

p {
  letter-spacing: -.15px;
  &:last-child {
    margin-bottom: 0;
  }
}

li {
  letter-spacing: -.15px;
}


.uppercase {
  text-transform: uppercase;
}


h1, h2, h3 {
  small {
    font-weight: normal;
    opacity: .8;
    margin: 0 1rem;
  }
}
